// ============================================================================
// Structure
// ============================================================================

$size__site-main: 100%;
$size__site-sidebar: 25%;

// ============================================================================
// Main breakpoints
// ============================================================================

$bp-smaller:                    450px;
$bp-small:                      640px;
$bp-med:                        900px;
$bp-large:                      1000px;
$bp-xl:                         1200px;

// ==========================================================================
//	Layout
// ==========================================================================

$main-wrapper-width:            $bp-xl;

// ==========================================================================
//	Grid settings
// ==========================================================================

// This is the fixed gutter between columns
$grid-gutter:                   1em;

// This sets your class names
$grid-wrap-class:               "grid-wrap";
$grid-col-class:                "grid-col";
