// ============================================================================
// Posts and pages
// ============================================================================

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// ============================================================================
// Entries
// ============================================================================

.hentry {

	margin: 0 0 1.5em;

	.cat-links, .comments-link {
		display: inline-block;
		margin: 0 0.5em 0 0;
	}

}
